.our-package-heading {
    color: #231D4F;
}

.our-package-paragraph {
    color: #848199;
}

.negative-margin {
    margin-left: -3rem !important;
}

.negative-margin-top {
    margin-top: -3rem !important;
}

.person-color {
    color: #6C6C6C;
}